<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="易石后台管理" name="description"/>
    <title>主页</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap-table.min.css" rel="stylesheet" type="text/css">
    <link href="../css/BootSideMenu.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- 导航 -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- logo -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="../img/yumLogo.png"></a>
        </div>
        <!-- 右侧 -->
        <div>
            <ul class="nav navbar-nav pull-right">
                <li><a href="javascript:;">河南易石</a></li>
                <li><a href="javascript:;">SVN</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i>
                        张三 <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">修改密码</a></li>
                        <li><a href="#">查看权限</a></li>
                        <li class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
                <li><a href="javascript:;"><i class="glyphicon glyphicon-log-out"></i></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div id="leftMenu">
                <div class="user">
                    <img src="../img/avatar.png" alt="Esempio" class="img-thumbnail"><br>
                    <a href="http://www.lombardoandrea.com" target="_blank" class="navbar-link">Andrea Lombardo</a>
                </div>
                <div class="list-group">
                    <a href="#item-1" class="list-group-item" data-toggle="collapse">Item 1</a>
                    <div class="list-group collapse" id="item-1">
                        <a href="#" class="list-group-item">Item 1 di 1</a>
                        <a href="#" class="list-group-item">Item 2 di 1</a>
                        <a href="#item-1-1" class="list-group-item" data-toggle="collapse">Item 3 di 1</a>
                        <div class="list-group collapse" id="item-1-1">
                            <a href="#" class="list-group-item">Item 1 di 1.3</a>
                            <a href="#" class="list-group-item">Item 2 di 1.3</a>
                            <a href="#" class="list-group-item">Item 3 di 1.3</a>
                        </div>
                    </div>
                    <a href="#item-2" class="list-group-item" data-toggle="collapse">Item 2</a>
                    <div class="list-group collapse" id="item-2">
                        <a href="#" class="list-group-item">Item 1 di 2</a>
                        <a href="#" class="list-group-item">Item 2 di 2</a>
                        <a href="#" class="list-group-item">Item 3 di 2</a>
                    </div>
                    <a href="#item-3" class="list-group-item" data-toggle="collapse">Item 3</a>
                    <div class="list-group collapse" id="item-3">
                        <a href="#" class="list-group-item">Item 1 di 3</a>
                        <a href="#" class="list-group-item">Item 2 di 3</a>
                        <a href="#item-3-1" class="list-group-item" data-toggle="collapse">Item 3 di 3</a>
                        <div class="list-group collapse" id="item-3-1">
                            <a href="#" class="list-group-item">Item 1 di 3.3</a>
                            <a href="#" class="list-group-item">Item 2 di 3.3</a>
                            <a href="#" class="list-group-item">Item 3 di 3.3</a>
                        </div>
                    </div>
                    <a href="#item-4" class="list-group-item" data-toggle="collapse">Item 4</a>
                    <div class="list-group collapse" id="item-4">
                        <a href="#" class="list-group-item">Item 1 di 4</a>
                        <a href="#" class="list-group-item">Item 2 di 4</a>
                        <a href="#" class="list-group-item">Item 3 di 4</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-10">
            <div id="content"></div>
        </div>
    </div>
</div>
</body>
<script src="../js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/bootstrap-table.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/BootSideMenu.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $('#leftMenu').BootSideMenu({
        // 'left' or 'right'
        side: "left",
        // animation speed
        duration: 200,
        // restore last menu status on page refresh
        remember: true,
        // auto close
        autoClose: false,
        // push the whole page
        pushBody: true,
        // close on click
        closeOnClick: false,
        // width
        width: "15%"
    });
</script>
</html>